<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there <%= @user.name %>!</h1>
    <p>
      Here's the latest and greatest updates from Beaver Shelter for the past week!
    </p>
    <p>
      <% @status_updates.each do |update| %>
        <p><strong>Shelter</strong>: <%= update.shelter.name %></p>
        <p><strong>Animal</strong>: <%= update.animal_profile.name %>, <%= update.animal_profile.animal_type %></p>
        <p><strong>Update</strong>: <%= update.content %></p>
      <% end %>
    </p>
    <p>To disable these email notifications, login to your account and edit your profile.</p>
  </body>
</html>
