<%= stylesheet_link_tag 'adopt_forgot_pass.css' %>

<div class="content">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Enter Email", class:"form-inputs" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"login-button" %>
  </div>
<% end %>

<div class="shared-links">
  <%= render "users/shared/links" %>
</div>
</div>
